body{
  background-color: #ddf3f5;
  font-family: 'Montserrat', sans-serif;

}
h1{
  font-weight: 400;
  margin-top:30px;
  margin-left: 50px;
}
.box{
  margin: 10px 50px 0 50px;

}
.text{
  margin-top:20px;
  margin-bottom: 5px;
}
.sub{

  width:100%;

}
.btndiv{
  margin-top:30px;
}
.title{
  width:47%;
}
.post{
  width:100%;
}

.element{
  padding-left:10px;
  padding-right: 10px;
}
